.simulator {
  float: left;
  height: 100%;
  border: 1px solid #ccc;
}

.data {
  float:right;
  width: 35%;
}

.info {
  display: inline-block;
  margin-left: 15px;
}

.model {
  margin-top: 10px;
}

.box {
  width: 10px !important;
  height: 10px !important;
  display: inline-block;
}

.verticalDivider {
  border-left: 1px gray solid;
  height: 100%;
  position: absolute;
  margin-left: 0.5%;
}
